@charset "UTF-8";

/* Outras Mídias */

/* Typical Device Breakpoints W3C

Extra small devices (phones, max-width: 600px)
Small devices (portrait tablets and large phones, min-width: 600px)
Medium devices (landscape tablets, min-width: 768px)
Large devices (laptops/desktops, min-width: 992px)
Extra large devices (large laptops and desktops, min-width: 1200px) */

@media screen and (min-width: 600px) and (max-width: 768) {
    body {
        background-image: linear-gradient(to bottom, rgba(189, 131, 104, 0.795), rgba(236, 132, 63, 0.308));
    }
}

/* Tablets */
@media screen and (min-width: 768px) and (max-width: 1200px) {
    body {
        background-image: linear-gradient(to bottom, rgba(189, 131, 104, 0.795), rgba(236, 132, 63, 0.308));
    }

    main section {
        height: 350px;
    }

    main section div#imgLogin {
        float: left;
        width: 35%;
        height: 350px;
    }

    main section div#login {
        float: right;
        width: 65%;
        height: 350px;
        border-radius: 0px 10px 10px 0px;
    }

    main section div#login h1 {
        padding-top: 15px;
    }

    main section div#login p {
        padding: 15px 15px 15px 15px;
    }
}

/* Laptops/Desktops */
@media screen and (min-width: 1200px) and (max-width: 2560px) {
    body {
        background-image: linear-gradient(to bottom, rgba(189, 131, 104, 0.795), rgba(236, 132, 63, 0.308));
    }

    main section {
        width: 960px;
        height: 400px;
    }

    main section div#imgLogin {
        float: left;
        width: 35%;
        height: 400px;
    }

    main section div#login {
        float: right;
        width: 65%;
        height: 400px;
        border-radius: 0px 10px 10px 0px;
    }

    main section div#login h1 {
        padding-top: 30px;
    }

    main section div#login p {
        padding: 30px;
    }
}

/* Telas 2k+ */
@media screen and (min-width: 2560px) {
    body {
        background-image: linear-gradient(to bottom, rgba(189, 131, 104, 0.795), rgba(236, 132, 63, 0.308));
    }

    main section {
        width: 1800px;
        height: 650px;
    }

    main section div#imgLogin {
        float: left;
        width: 35%;
        height: 650px;
    }

    main section div#login {
        float: right;
        width: 65%;
        height: 650px;
        border-radius: 0px 10px 10px 0px;
    }

    main section div#login h1 {
        font-size: 3em;
        padding-top: 40px;
    }

    main section div#login p {
        font-size: 2em;
        padding: 40px;
    }

    main section div#login .material-icons {
        font-size: 36px;
        margin-left: -42px;
    }

    main section div input#email {
        font-size: 1.5em;
        margin: 10px 0px;
        padding: 10px 20px;
    }

    main section div input#senha {
        font-size: 1.5em;
        margin-bottom: 40px;
        padding: 10px 20px;
    }

    main section div input#entrar {
        padding: 10px 120px;
        font-size: 2em;
        border-radius: 10px;
    }

    main section div input#esqueciSenha {
        margin-top: 40px;
        font-size: 1.4em;
    }
}